
.site__wrap{

}

.site__header {
  //background: #00b3ff;
  height: 60px;
  color: #262424;

}
//.base__container{
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: center;
//  margin: 0;
//
//}

// + .site__width ?
.site__header-content {
  display: flex;
  padding: 7px 0;
}



.site__header-logo-wrap {
  display: flex;
}

.site__header-logo {
  background: transparent url(../../images/svg/logo-black.svg) no-repeat center center / cover;
  display: block;
  width: 67px;
  height: 46px;
}

.menu-icon-control-wrapper{

}

.search-icon-control{
  background: transparent url(../../images/svg/header-search-icon.svg) no-repeat center center / cover;
  display: block;
  width: 14px;
  height: 16px;
}

.search-icon-control-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


//вспомогательная разметка (удалить)
.content__area{
  height: 100px;
  background: #ff89d1;

}
